.time-tracker {
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.time-tracker-categories {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.time-tracker-category {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: #afbacc;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.time-tracker-subcategories {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 5px;
}

.time-tracker-subcategory {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: #afbacc;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}